<md-dialog md-theme="{{ noteObj1.note_color}}" md-theme-watch>
  <div layout="row">
    <form ng-cloak>
      <md-card>
        <md-card-title>
            <md-card-title-text>
          <h3>Collaborators</h3>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-title layout="column" class="md-dialog-content">
            <md-card-title-text><div ng-repeat="note in noteObject.collaborator">
            <md-divider></md-divider>
            <md-divider>
              <md-card-content>
                {{note}}
                <md-button aria-label="removecollab" ng-click="removeCollabs(noteObject)"> <img  ng-hide="$first" src="./assets/images/remove.svg" />
                </md-button>  <md-card-title-text>
                </md-card-title>
            </md-divider>
          </div>
          <md-input-container class="md-block" id="textboxsize"><label>Email</label>
            <input required type="email" ng-model="email" ng-pattern: "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
          </md-input-container>
          <md-card-actions>
            <md-button style="float right" ng-click="cancel()">
            Cancel
            </md-button>
            <md-button style="float right" ng-click="answer({email:email})">
             Collaborate Note
            </md-button>
          </md-card-actions>
      </md-card>
    </form>
  </div>
</md-dialog>
