<md-dialog md-theme="{{ noteObject.note_color}}" md-theme-watch>
  <div layout="row">
  <form ng-cloak>
    <md-dialog-content  layout="column" class="md-dialog-content" >
      <textarea  rows="1" cols="30" style="box-shadow: none;resize: none;" ng-model="title" aria-label="title"></textarea>
      <md-divider >
      <textarea rows='10' cols="30" style="box-shadow: none;resize: none;" aria-label="note" ng-model="note">

      </textarea>
      </md-divider>
      <md-input-container class="md-block" style="float:right">
        Edited :{{noteObject.edited | date:'MMM dd h:mm a'}}
      </md-input-container>
      <!--div class='editable' contentEditable="true" class="titleN" id='title1' style="outline:none;width:auto;height:auto;background-color:#C8C8C8;padding: 10px;
  box-shadow: 5px 10px #888888;
" layout="column" ng-bind-html="title" ng-model="title1"></div>

      <div class='editable' contentEditable="true" id='note1'  style="outline:none;width:auto;height:auto;background-color:#C8C8C8;padding: 10px;
box-shadow: 5px 10px #888888;
" layout="column" ng-bind-html="note" class="description" ng-model="note1"></div-->
    </md-dialog-content>

    <md-card-actions layout="5" layout-align="end center" >
      <md-button ng-click="archieveNote(note)" class="md-icon-button" aria-label="copy">
       <md-tooltip md-direction="bottom">Archieve</md-tooltip>  <i class="material-icons">archive</i>
     </md-button>
      <md-button ng-click="copyNote({title:title,note:note})" class="md-icon-button" aria-label="copy">
         <md-tooltip md-direction="bottom">Copy Note</md-tooltip>  <i class="material-icons">content_copy</i>
      </md-button>
      <md-button  ng-click="trashNote(note)"  class="md-icon-button" aria-label="delete">
         <md-tooltip md-direction="bottom">Trash Note</md-tooltip>  <i class="material-icons">delete</i>
      </md-button>
      <md-button style="float right" ng-click="answer({title:title,note:note})">
       Done
      </md-button>
    </md-card-actions>
  </form>
</div>
</md-dialog>
