<style media="screen">
  #demo {
    background-color: #e6ec8e;
    width: webkit-flex;
  }
  #textboxsize {
    width: 400pz;
  }
</style>
<div layout="column" layout-align="space-between center">

  <form name="forgotPasswordForm" style="width:450px">


    <md-content layout-padding id="demo">

      <md-input-container class="md-block">
      <h1 style="text-align:center">Forgot Password {{name}}</h1>
        <div id="flag"></div>
      </md-input-container>
      <md-input-container class="md-block" id="textboxsize"><label>Email</label>
        <input required name="forgotPasswordForm.email" type="email" ng-model="forgotPasswordForm.email" ng-pattern: "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
        <div ng-messages="forgotPasswordForm.email.$error">

          <div ng-message="ng-pattern">email should be xyz@example.com</div>
        </div>
      </md-input-container>


      <md-input-container>
        <md-button ng-click="forgotPassword()" type="submit" class="md-raised md-primary">Reset Password</md-button>
      </md-input-container>

    </md-content>

  </form>

</div>
