<!-- nav bar -->
<div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper blue-grey">
      <a ng-click="navClick()" href="#!" class="brand-logo" style="text-decoration:none"><i class="material-icons">menu</i>Keep</a>



      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">
            <md-menu-bar class="md-icon-button" aria-label="menu4">

              <md-menu ng-model="image">
                <img ng-click="$mdMenu.open()" ng-src="{{ imageProfile }}" alt="Avatar" class="avatar">
                <md-menu-content>
                  <md-menu-bar class="md-icon-button" aria-label="menu">
                    <md-menu>
                      <i ng-click="$mdMenu.open()" aria-label="menu" class="material-icons">add_a_photo</i>
                      <md-menu-content>
                        <div>
                          <div class="cropArea">
                            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                            <div>Select an image file: <input type="file" id="fileInput" /></div>

                            <md-button ng-click="setProfile(myCroppedImage)">Submit</md-button>
                          </div>
                          <div>Cropped Image:</div>
                          <div><img ng-src="{{myCroppedImage}}" /></div>
                        </div>
                      </md-menu-content>
                    </md-menu>
                  </md-menu-bar>



                </md-menu-content>
              </md-menu>
            </md-menu-bar>

          </a>
        </li>
        <li> <a class="btn waves-effect waves-light deep-orange lighten-2" ui-sref="logout">Sign Out</a>
        </li>
        <li>


          <a href="#" class="btn waves-effect waves-light deep-orange lighten-2" ng-click="listGrid()">  <i class="material-icons">view_quilt</i></a></li>

      </ul>
      <form class=" hide-on-med-and-down" id="form1">
        <div class="input-field" style="max-width: 400pt;">
          <input id="search" type="search" ng-model="searchNotes" required onkeyup="getBlogs(this.value,0);">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          <div id="searchResults"></div>
        </div>
      </form>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="signup.php">Sign Up</a></li>
        <li><a href="login.php">Login</a></li>
        <li><a href="conactUs.php">Contact Us</a></li>
        <li class="search">
          <div class="search-wrapper card input-field">
            <input type="search" required onkeyup="getBlogs(this.value,1);">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            <div id="searchResults2"></div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>


<!-- Google keep all layout-->

<div layout="column" flex layout-padding style="height:auto;background-color:#e6e6e6" id="main">

  <div layout="auto" id="main" click-out="hide()">
    <div flex="30">
      <div id="mySidenav" style="background-color:#e6e6e6;overflow-y: scroll; height:800px;" class="sidenav">

        <a ui-sref="home">Notes</a>
        <a ui-sref="archieve">Archive</a>
        <a ui-sref="trash">Trash</a>
        <div>
          <md-button ng-click="addLabel()"><b>Add Label</b></md-button>
          <div ng-repeat="labels in listLabel">
            <a ui-sref="label({label:labels.label})"><i class="material-icons">label</i>{{labels.label}}</a>
            <!--md-button   ng-click="removeLabel(labels.label)">x</md-button-->

          </div>
        </div>

      </div>
    </div>
    <div flex="40">

      <!--div contenteditable="true" style="text-align:center" >Title</div-->
      <!--div class='editable' contentEditable="true" id = 'div1'>Click and edit the text</div-->

      <div md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch layout="column">
        <div class='editable' contentEditable="true" id='div1' style="margin-top:55px;width:auto;outline:none;height:auto;background-color:#C8C8C8;padding: 10px;
    box-shadow: 5px 10px #888888;" layout="column" ng-click="hide()">
          <div flex="50"></div>
          <div style="margin-left:15px">Take a Note</div>
        </div>


        <div id="showDiv">
          <div class='editable' contentEditable="true" id='title' style="outline:none;width:auto;height:auto;background-color:#C8C8C8;padding: 10px;
      box-shadow: 5px 10px #888888;
  " layout="column" placeholder="Title"></div>

          <div class='editable' contentEditable="true" id='note' style="outline:none;width:auto;height:auto;background-color:#C8C8C8;padding: 10px;
  box-shadow: 5px 10px #888888;
" layout="column" placeholder="Take a Note"></div>
          <div style="background-color:#C8C8C8;padding: 10px;
  box-shadow: 5px 10px #888888;width:auto">
            <md-card-actions layout="row" layout-align="end center">

              <form>
                <input type="file" result-image="resultImage" ng-file-select="onFileSelect($files)" ng-model="imageSrc" />
              </form>
              <md-button ng-click="saveNote()" id="showButton"><b>Done</b></md-button>
            </md-card-actions>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- pinned view-->
  <div id="pinned">
    <div style="margin-left:100px">Pinned </div>
  </div>

  <div layout={{setView}} layout-wrap flex-gt-xs="50" style="background-color:#e6e6e6;height:auto;width:70%;margin:0 auto">


    <div layout-wrap flex-gt-xs="30" ng-repeat="note in listOfNotes   | orderBy:'note.date':true | filter:{is_archieved:false} | filter:{is_pinned:true} | filter:{is_deleted:false} |filter:searchNotes">
      <md-card md-theme={{note.note_color}} md-theme-watch>
        <md-content layout-padding="" class="autoScroll">
          <div class="md-icon-float md-button-right width70">
            <md-card-subtitle>
              <md-card-title-text ng-click="editNote(note)" flex="auto">
                <div class="md-headline" style="word-break: break-word;">{{note.title}}</div>
              </md-card-title-text>
            </md-card-subtitle>
            <div class="button-group">
              <md-button ng-click="pinNote(note)" class="md-icon-button" aria-label="edit">
                <md-tooltip md-direction="bottom">Unpinned Note</md-tooltip>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#0D47A1" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
            </svg>
              </md-button>
            </div>
          </div>
        </md-content>
        <img ng-src="{{note.picture}}" class="md-card-image" />
        <md-card-content ng-click="editNote(note)">
          <div style="word-break: break-word;" ng-bind-html="note.note |html "></div>
        </md-card-content>
        <div layout="row" ng-repeat="getLabel in note.label">
          <div class="chip">
            {{getLabel}}
            <span class="closebtn" ng-click="labelClick(note,getLabel)" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <div fxFlex></div>

          <color-picker color="color" ng-click="changeTheme(note)" options="options" on-color-changed="colorChanged(newColor, oldColor)"></color-picker>
          <div fxFlex></div>

          <md-button ng-click="archieveNote(note)" class="md-icon-button" aria-label="copy">
            <md-tooltip md-direction="bottom">Archieve</md-tooltip> <i class="material-icons">archive</i>
          </md-button>

          <md-button ng-click="collabsNote(note)" class="md-icon-button" aria-label="collabs">
            <md-tooltip md-direction="bottom">collaborate Notes</md-tooltip> <i class="material-icons">person_add</i>
          </md-button>

          <md-menu-bar class="md-icon-button" aria-label="menu">
            <md-menu>

              <md-button ng-click="$mdMenu.open()" class="md-icon-button" aria-label="menu">
                <md-tooltip md-direction="bottom">Add Reminder</md-tooltip> <i class="material-icons">add_alert</i>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <input moment-picker="myDate" ng-model="obj">
                  <md-button ng-click="reminderNote(note,myDate)" class="md-icon-button" aria-label="delete">
                    SET
                  </md-button>
                  <!--input kendo-date-time-picker ng-model="obj" style="width: 75%;" />
                  <md-button ng-click="reminderNote(note,obj)" class="md-icon-button" aria-label="delete">
                    SET
                  </md-button-->
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
          <md-menu-bar class="md-icon-button" aria-label="menu">
            <md-menu>
              <md-button ng-click="$mdMenu.open()" class="md-icon-button" aria-label="menu">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="trashNote(note)" aria-label: 'delete'>
                    Delete a note
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="copyNote(note)" aria-label: 'copy'>
                    Copy a note
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="labelAdd(note)" aria-label="center">
                    Add a label
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <!--others-->
  <div id="other">
    <div style="margin-left:100px">Other</div>
  </div>

  <div layout={{setView}} layout-wrap flex-gt-xs="50" style="background-color:#e6e6e6;height:auto;width:70%;margin:0 auto">

    <div layout-wrap flex-gt-xs="30" ng-repeat="note in listOfNotes   | orderBy:'note.date':true | filter:searchNotes |
     filter:{is_archieved:false} | filter:{is_pinned:false} | filter:{is_deleted:false}">
      <md-card md-theme="{{note.note_color}}" md-theme-watch>
        <md-content layout-padding="" class="autoScroll">
          <div class="md-icon-float md-button-right width70">
            <md-card-subtitle>
              <md-card-title-text ng-click="editNote(note)" flex="auto">
                <div class="md-headline" style="word-break: break-word;">{{note.title}}</div>
              </md-card-title-text>
            </md-card-subtitle>
            <div class="button-group">
              <md-button ng-click="pinNote(note)" class="md-icon-button" aria-label="edit">
                <md-tooltip md-direction="bottom">Pin Note</md-tooltip>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#000000" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
                    </svg>
              </md-button>
            </div>
          </div>
        </md-content>
        </md-card-title>
        <img ng-src="{{note.picture}}" class="md-card-image">
        <md-card-title>
          <md-card-title-text ng-click="editNote(note)" flex="auto">
            <div class="md-headline" style="word-break: break-word;" ng-bind-html="note.titile | html"></div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content ng-click="editNote(note)">
          <div style="word-break: break-word;" ng-bind-html="note.note |html "></div>
          <!--div >{{note.created_date}}</div-->

        </md-card-content>
        <div layout="row" ng-repeat="getLabel in note.label">
          <div class="chip">
            {{getLabel}}
            <span class="closebtn" ng-click="labelClick(note,getLabel)" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        </div>
        <!--md-chips ng-model="note.label" readonly="ctrl.readonly($chip)"
         md-on-remove="removeChip($chip)"></md-chips-->
        <!--div layout="row" ng-repeat="labels in note.label">
          <div class="chip">
            {{labels}}
            <i class="close material-icons" >close</i>
              </div>
        </div-->

        <md-card-actions layout="row" layout-align="end center">

          <color-picker color="color" ng-click="changeTheme(note)" options="options" on-color-changed="colorChanged(newColor, oldColor)"></color-picker>

          <md-button ng-click="archieveNote(note)" class="md-icon-button" aria-label="copy">
            <md-tooltip md-direction="bottom">Archive Note</md-tooltip><i class="material-icons">archive</i>
          </md-button>
          <!--md-button ng-click="trashNote(note)" class="md-icon-button" aria-label="delete">
            <i class="material-icons">delete</i>
          </md-button-->
          <md-button ng-click="collabsNote(note)" class="md-icon-button" aria-label="collabs">
            <md-tooltip md-direction="bottom">Collaborate Notes</md-tooltip><i class="material-icons">person_add</i>
          </md-button>

          <md-menu-bar class="md-icon-button" aria-label="menu">
            <md-menu>
              <md-button ng-click="$mdMenu.open()" class="md-icon-button" aria-label="menu">
                <md-tooltip md-direction="bottom">Add Reminder</md-tooltip> <i class="material-icons">add_alert</i>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <input kendo-date-time-picker ng-model="obj" style="width: 75%;" />
                  <md-button ng-click="reminderNote(note,obj)" class="md-icon-button" aria-label="delete">
                    SET
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
          <!--div flex-gt-xs>
        <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
      </div-->
          <!--md-button nd-click="labelAdd()" class="md-icon-button">
            <i class="material-icons">label</i>
          </md-button-->
          <md-menu-bar class="md-icon-button" aria-label="menu">
            <md-menu>
              <md-button ng-click="$mdMenu.open()" class="md-icon-button" aria-label="menu">
                <md-tooltip md-direction="bottom">More</md-tooltip> <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="trashNote(note)" aria-label: 'delete'>
                    Delete a note
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="copyNote(note)" aria-label: 'copy'>
                    Copy a note
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="labelAdd(note)" aria-label="center">
                    Add a label
                  </md-button>

          </md-menu-bar>
          </md-menu-item>
          </md-menu-content>
          </md-menu>
          </md-menu-bar>
          <!--md-button nd-click="archieveNote(note)" class="md-icon-button" aria-label="archieve">
            <i class="material-icons">archive</i>

          </md-button-->

        </md-card-actions>

      </md-card>



    </div>

  </div>
