
<div layout="column" layout-align="space-between center" >
<br>
  <form name="loginForm" style="width:450px">


    <md-content layout-padding id="demo">

      <md-input-container class="md-block">
        <h1 style="text-align:center">Login</h1>
        <div id="flag"></div>
      </md-input-container>
      <md-input-container class="md-block" id="textboxsize"><label>Email</label>
        <input required name="loginForm.email" type="email" ng-model="loginForm.email" ng-pattern: "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
        <div ng-messages="loginForm.email.$error">

          <div ng-message="ng-pattern">email should be xyz@example.com</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block"><label>Password</label>
        <input type="password" ng-model="loginForm.password" required minlength="8">
        <div ng-messages="loginForm.password.$error">

          <div ng-message="minlength">Password minimum length is 8</div>
        </div>
      </md-input-container>
      <div layout="column">

        <md-input-container style="float: left">
          <a ui-sref="forgotPassword">Forgot password?</a>
        </md-input-container>

        <md-input-container style="float: left">
          <a ui-sref="register">Create account</a>
        </md-input-container>

      </div>
      <md-input-container style="float: center">
        <md-button href="/auth/google" style="background-color:#dc483d">Sign in with Google</md-button>
        <md-button href="/auth/facebook" style="background-color:#3b5898">Sign in with Facebook</md-button>

        <md-button ng-click="login()" type="submit" class="md-raised md-primary">login</md-button>



      </md-input-container>

    </md-content>

  </form>

</div>
