<style media="screen">
  #demo {
    background-color: #e6ec8e;
    width: webkit-flex;
  }
  #textboxsize {
    width: 400pz;
  }
</style>
<div layout="column" layout-align="space-between center">

  <form name="resetPasswordForm" style="width:450px">


    <md-content layout-padding id="demo">

      <md-input-container class="md-block">
      <h1 style="text-align:center">Reset Password {{name}}</h1>
        <div id="flag"></div>
      </md-input-container>
      <md-input-container class="md-block" id="textboxsize"><label>Email</label>
        <input required name="resetPasswordForm.newPassword" type="text" ng-model="resetPasswordForm.newPassword" >
        <div ng-messages="resetPasswordForm.newPassword.$error">

          <div ng-message="ng-pattern">Requied</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" id="textboxsize"><label>Email</label>
        <input required name="resetPasswordForm.verifyPassword" type="text" ng-model="verifyPasswordForm.newPassword" >
        <div ng-messages="resetPasswordForm.verifyPassword.$error">

          <div ng-message="ng-pattern">Requied</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-button ng-click="resetPassword()" type="submit" class="md-raised md-primary">Reset Password</md-button>
      </md-input-container>

    </md-content>

  </form>

</div>
