.login-page {
      width: 360px;
      padding: 8% 0 0;
      margin: auto;
    }

    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }

    .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;

      cursor: pointer;
    }

    .form button:hover,
    .form button:active,
    .form button:focus {
      background: #43A047;
    }

    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }

    .form .message a {
      color: #4CAF50;
      text-decoration: none;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;

    z-index: 1;
    margin-top: 15px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #757575;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #63D107;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.md-input-container label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */

}
[contenteditable=true]:after {
  content: "\00a0";
 word-break: break-all;
}
.popover {
    white-space: pre-line;
}
.md-button.md-small {
    min-width: 1%;
}.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
#demo {
  align-self: center;
  background-color: white;
  margin: auto;
  box-shadow: position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: position: relative;
  opacity: 0.8px;
}

#textboxsize {
  width: 400pz;
}
body {
	background-color: blanchedalmond;
	background-repeat: repeat-x;
}
.avatar {
    float: right;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
